# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env/
.venv/
*.egg-info/
dist/
build/

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers Synapse (générés localement, non pertinents)
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db
